# Mac OS
.DS_Store

# JetBrains IDE
.idea/

# Gradle
build/
.gradle/

# Google Service
google-services.json

# Local configuration file (SDK path, etc, serect keys)
local.properties

# Keystore files
keystore/